@use 'sass:math';

.color-hover {
  transition: color 1.5s linear;

  &:hover {
    transition: color 0s linear;
  }
}

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s linear;
  animation-fill-mode: forwards;
  min-width: 10px;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  opacity: 1;
}

@for $i from 4 through 60 {
  .text-animate._#{$i} {
    animation-delay: #{math.div($i, 10)}s;
  }
}