@use '../../data/css_variables';
@use 'sass:math';

@mixin nav-bar($width) {
  background: #181818;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
  overflow-x: hidden;
  white-space: nowrap;

  width: $width;
  transition: all css_variables.$nav-bar-transition-duration ease-in-out;

  .label {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 164px;
    width: 50px;
    margin-top: -82px;
    margin-left: -25px;

    writing-mode: vertical-lr;
    transform: rotate(180deg);
    
    font-family: 'La Belle Aurore', cursive;
    font-size: 35px;
    color: #ffd700;
    opacity: 0.6;
  }

  nav {
    display: block;
    text-align: left;
    position: absolute;
    width: 100%;

    font-family: Consola;
    font-size: 16px;

    .title {
      font-size: 20px;
      margin: 10px 10px 5px 10px;
      color: #aaa;
    }

    .directory {
      margin-left: 20px;
      color: #aaa;
    }

    .files {
      margin-left: 24px;

      a {
        color: #aaa;
        display: block;
        position: relative;
        text-decoration: none;
      }

      a.active {
        color: #ffd700;
      }
    }
  }
}

.nav-bar {
  @include nav-bar(css_variables.$nav-bar-offset);
  .menu-icon {
    p {
      opacity: 0;
      transition: all 0.3s ease-in-out 0.2s;
      visibility: hidden;
    }
    svg {
      transform: rotate(0);
      transition: all 0.1s linear;
    }
  }
  .label {
    opacity: 1;
    transition: all 0.3s ease-in-out 0.2s;
    visibility: visible;
  }
  nav {
    opacity: 0;
    transition: all 0.3s ease-in-out 0.2s;
    visibility: hidden;
  }
}

.nav-bar-hover {
  @include nav-bar(css_variables.$nav-bar-offset-hovered);
  .menu-icon {
    p {
      opacity: 1;
      transition: all 0.3s ease-in-out;
      visibility: visible;
    }
    svg {
      transform: rotate(90deg);
      transition: all 0.1s linear;
    }
  }
  .label {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
  }
  nav {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    visibility: visible;
  }
}