@use '../../data/css_variables';
@use 'sass:math';

@mixin nav-bar($width) {
  background: #2C1320;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 3;
  overflow-x: hidden;
  white-space: nowrap;

  width: $width;
  transition: width css_variables.$nav-bar-transition-duration ease-in-out;

  .label {
    width: 100%;
    height: fit-content;

    align-self: center;

    writing-mode: vertical-lr;
    transform: rotate(180deg);
    
    font-family: 'La Belle Aurore', cursive;
    font-size: 3.5rem;
    color: #ffd700;
    opacity: 0.6;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    position: absolute;
    width: 100%;

    font-family: Consola;
    font-size: 1.6rem;

    .title {
      width: 100%;
      font-size: 2.1rem;
      margin: 1rem 1rem .5rem 1rem;
      color: #aaa;
    }

    .directory {
      width: 100%;
      margin-left: 1.8rem; 
      color: #aaa;
      cursor: pointer;

      svg {
        transition: transform 0.1s linear;
      }

      .on {
        transform: rotate(90deg);
      }

      .off {
        transform: rotate(0);
      }
    }

    .files {
      width: 100%;
      margin-left: 2.4rem;
      transition: all 0.1s linear;
      overflow-x: hidden;

      a {
        color: #aaa;
        display: block;
        position: relative;
        text-decoration: none;
      }

      a.active {
        .fileText {
          color: #ffd700;
        }
      }

      &.on {
        height: 100%;
        visibility: visible;
      }

      &.off {
        height: 0;
        visibility: hidden;
      }
    }
  }
}

.nav-bar {
  @include nav-bar(css_variables.$nav-bar-offset);
  .label {
    opacity: 1;
    transition: all 0.3s ease-in-out 0.2s;
    visibility: visible;
  }
  nav {
    opacity: 0;
    transition: all 0.3s ease-in-out 0.2s;
    visibility: hidden;
  }
}

.nav-bar-hover {
  @include nav-bar(css_variables.$nav-bar-offset-hovered);
  .label {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
  }
  nav {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    visibility: visible;
  }
}